body{
    background-color: hsl(0, 0%, 0%);
}
#box{
    width: 250px;
    height: 250px;
    background-color: hsl(0, 100%, 50%);
    font-size: 13em;
    text-align: center;
    border-radius: 5px;
}
img{
    width: 250px;
    animation-name: slideleft;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.73,-0.49, 0.53, 1.84);
}
@keyframes slideleft{
    from{transform: translateX(300%)}
}
@keyframes slideRight{
    to{transform: translateX(100%)}
}
@keyframes slideUp{
    from{transform: translateY(200%)}
}
@keyframes slideDown{
    to{transform: translateX(100%)}
}
@keyframes rotate {
    100%{transform: rotateZ(360deg)}
}
@keyframes grow{
    100%{transform: scale(2, 2)}
}
@keyframes shrink{
    50%{transform: scale(0.5, 0.5)}
}
@keyframes fadeIn{
    100%{opacity: 1;}
}
@keyframes colorChange{
    0%{background-color: hsl(0, 100%, 50%);}
    20%{background-color: hsl(308, 100%, 50%);}
    40%{background-color: hsl(236, 100%, 50%);}
    60%{background-color: hsl(104, 100%, 50%);}
    80%{background-color: hsl(38, 100%, 50%);}
    100%{background-color: hsl(184, 100%, 50%);}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px hsl(60, 100%, 50%);}
}