div{
    background-color: hsl(120, 100%, 50%);
    height: 100px;
    width: 100px;
    display: inline-block;
}
span{
    background-color: hsl(39, 100%, 50%);
    height: 100px;
    width: 100px;
    display: inline-block;
}
