body{
    margin: 0px;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}
#box1{
    background-color: hsl(180, 90%, 50%);
    margin: auto;
}
#box2{
    background-color: hsl(24, 100%, 50%);
    margin: auto;
}
