*{
    margin: 0px;
    padding: 0px;
}

.main{
    width: 100%;
    background: url(/images/flat-lay-workstation-with-copy-space-laptop.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative; 
    font-family: sans-serif;
    height: 100%;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px; 
    font-weight: bold;
    text-decoration: none;
    color: hsl(0, 92%, 53%);
    margin-top: -3%;
    transition: .4s ease;
}

ul li a:hover{
    color: hsl(240, 100%, 50%);
}

.info{
    margin-left: 6%;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: hsl(0, 0%, 60%);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: hsl(0, 0%, 0%);
}

.info span{
    color: hsl(0, 100%, 50%);
}

.info a{
    text-decoration: none;
    color: hsl(240, 100%, 50%);
    background: hsl(0, 0%, 0%);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
}