h1{
    color: rgb(228, 26, 26);
}
p{
    color: rgb(223, 27, 27);
}

h1{
    text-shadow: 3px 3px 5px rgb(60, 255, 0), -3px -3px 5px rgb(0, 247, 255);
}

#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(234, 234, 234);
    box-shadow: 3px 3px 5px;
}