h1{
   border: 5px solid hsl(240, 100%, 50%);
    border-radius: 10px;
}
p{
    border-bottom: 5px solid rgb(237, 21, 21);
    border-top: 5px solid rgb(247, 247, 10);
    border-left: 5px dashed rgb(223, 20, 20);
    border-right: 5px dashed rgb(235, 235, 30);
    border-radius: 10px;
}